#credits {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.ending-credits {
  font-family: "NTR", sans-serif;
  color: var(--slate);
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: 1.8;
}

.ending-credits div {
  margin: 5px 0;
}