.metaballs-container {
  display: block;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  background: transparent;
}

.metaballs-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}