.navbar-custom {
  background-color: var(--navy);
  color: var(--lightest-slate);
  font-family: 'NTR', sans-serif;
  font-weight: bold;

  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 56px;
}

.navbar-custom .navbar-brand {
  color: var(--lightest-slate) !important;
  font-size: 20px;
  line-height: 1;
  transition: color 0.3s ease;
}

.navbar-custom .navbar-brand:hover {
  color: var(--green-bright) !important;
}

.navbar-custom .nav-link {
  color: var(--lightest-slate) !important;
  margin: 0 10px;
  transition: color 0.3s ease;
  font-size: 16px;
  padding: 0.5rem 0.75rem;
}

.navbar-custom .nav-link:hover {
  color: var(--green-bright) !important;
}

.navbar-custom .navbar-toggler {
  border-color: var(--green-bright);
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(100, 255, 218, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media only screen and (max-width: 991px) {
  .navbar-custom .navbar-brand {
    font-size: 1.2rem;
  }
  
  .navbar-custom .nav-link {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-custom .navbar-brand {
    display: none;
  }
  
  .navbar-custom .navbar-nav.me-auto .nav-link {
    display: none;
  }
}